.invisible-a {
    color: inherit;
    cursor: pointer;
}

.invisible-a:hover {
    color: inherit;
    cursor: pointer;
}

.blur-unless-hover {
    filter: blur(5px);
}

.blur-unless-hover:hover {
    filter: none;
}

.blur {
    filter: blur(5px);
}

.ck-powered-by {
    display: none;
}

.ml-pulse {
    animation: ml-pulse 1.5s infinite;
    border-radius: 50%;
}

@keyframes ml-pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    }
}