@page "/test2"

@inject AlertService AlertService

<div class="card">
    <div class="card-body p-1 ps-1">
        <Editor @ref="Editor" InitialContent="print('hello world')" Mode="python" />
    </div>
</div>

<WButton Text="Test" OnClick="OnClick" />

@code
{
    private Editor Editor;

    private async Task OnClick()
    {
        await AlertService.Info("", await Editor.GetContent());
    }
}
